<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand">
            <img src="../../assets/logo.png" style="max-height: 50px;">
        </a>
        <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbar"
        aria-controls="navbar"
        aria-expanded="true"
        aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav nav-pills ms-auto mb-2 mb-lg-0">
                    <li class="nav-item" *ngIf="!router.url.includes('order-complete')">
                        <a class="nav-link" routerLinkActive="active" routerLink="/auth" *ngIf="!isAuthenticated">Autentifică-te</a>
                    </li>
                    <li class="nav-item" *ngIf="!router.url.includes('order-complete')" >
                        <a class="nav-link" routerLinkActive="active" routerLink="/games" *ngIf="isAuthenticated">Jocuri</a>
                    </li>
                    <li class="nav-item" *ngIf="!router.url.includes('order-complete')">
                        <a class="nav-link" routerLinkActive="active" routerLink="/shopping-list" *ngIf="isAuthenticated">Lista de cumpărături</a>
                    </li>
                    <li class="nav-item" *ngIf="!router.url.includes('order-complete')">
                        <a class="nav-link" routerLinkActive="active" routerLink="/contact" *ngIf="isAuthenticated">Contact</a>
                    </li>
                
                    <li class="nav-item" *ngIf="!router.url.includes('order-complete')">
                        <a style="cursor: pointer" class="nav-link" *ngIf="isAuthenticated" (click)="onLogout()">Ieși din cont</a>
                    </li>
                </ul>
        </div>
    </div>
</nav>