<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
            <a href="#" class="navbar-brand">Recipe Book</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="#" (click)="onSelected('recipe')">Recipes</a></li>
                <li class="nav-item"><a class="nav-link" href="#" (click)="onSelected('shopping-list')">Shopping List</a></li>
            </ul>
        
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown" >
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">
                        Manage
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Save Data</a></li>
                        <li><a class="dropdown-item" href="#">Fetch Data</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>