

.product {
    color: white;
}

.products ul{
    background-color: black;
    list-style-type: none;
}

li {
    text-align: center;
    padding: 5px;
}

.currentDay {
    font-size: 18px;
}

.orderDay {
    font-size: 18px;
}

.btn-primary {
    margin-bottom: 100px;
}

.lead {
    font-size: 22px;
}

mark {
    color:#4B0082;
    font-weight: bold;
    background: none;
}