.content-outer-container {
    min-height: 100vh;
    background-image: url("https://wallpaperaccess.com/full/1560881.png");
    background-size: cover;
}

.footer-container {
    margin-top: -56px;
}

.footer-content {
    text-align: center;
    background-color: #181818;
    color: white;
    width: 100%;
}