<div class="row">
    <div class="col-xs-12">
        <img [src]="game.imagePath" alt="{{game.name}}" class="img-fluid mt-3" style="max-height: 285px">
    </div>
</div>
<div class="row">
    <div class="col-xs-12 mt-3">
        <h1>{{game.name}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 mt-2">
        <div class="btn-group" class="dropdown">
            <button type="button" class="btn btn-primary" (click)="onAddToShoppingList()" [disabled]="shoppingListItems == 5">Adaugă în lista de cumpărături</button>
        </div>
    </div>
</div>
<div class="row">
    <span class="mt-3" *ngIf="shoppingListItems > 4">Limita produselor din lista de cumpărături a fost atinsă!</span>
</div>
<div class="row">
    <div class="col-xs-12 mt-3">
        <h4>{{game.description}}</h4>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 mt-2">
        <ul class="list-group">
            <li class="list-group-item list-group-item-action" *ngFor="let g of game.genres">{{g.name}}</li>
        </ul>
    </div>
</div>


