<div class="row">
    <div class="col-xs-12 mt-3">
        <form (ngSubmit)="onAddItem(form)" #form="ngForm">
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label class="form-label" for="name">Jocuri</label>
                    <select                    
                    id="name" 
                    class="form-select"
                    [ngModel]="games"
                    name="name"
                    required>
                    <option value="Soccer Cup">Soccer Cup</option>
                    <option value="Ultimate Boxing">Ultimate Boxing</option>
                    <option value="Mar.io">Mar.io</option>
                    <option value="Dunk The Ball">Dunk The Ball</option>
                    <option value="Chess Sim2k22">Chess Sim2k22</option>
                </select>
                </div>
            </div>
            <div class="col-sm-10 form-group mt-3">
                <div class="col-xs-12">
                    <button 
                    class="btn btn-success" 
                    type="submit"
                    [disabled]="!form.valid || shoppingListItems == 5">Adaugă joc</button>
                    <button class="btn btn-danger" type="button" (click)="onDelete()">Șterge joc</button>
                    <button class="btn btn-primary clear" type="button" (click)="onClear()">Anulează selecția</button> 
                </div>
            </div>
        </form>
    </div>
</div>